@{
    ViewData["Title"] = "Home Page";
}

<div class="topics">
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon1.png" alt="Ícone 1">
            <h2>Instalação de qualidade</h2>
        </div>
        <p>Opte por uma instalação de qualidade, como recomenda o fabricante do seu equipamento. Utilizando bomba de vácuo e a tubulação adequada.</p>
    </div>
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon4.png" alt="Ícone 2">
            <h2>Higienização</h2>
        </div>
        <p>Evite alergias devido poeiras e bactérias no seu equipamento, faça a higienizaçao com produtos de qualidade.</p>
    </div>
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon3.png" alt="Ícone 3">
            <h2>Calculadora térmica</h2>
        </div>
        <p>Utilize nossa calculadora para ter uma média da sua necessidade térmica e dimensionamento adequado, para em seguida adquirir seu equipamento. </p>
    </div>
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon5.png" alt="Ícone 4">
            <h2>Manutenção preventiva</h2>
        </div>
        <p>Mantenha a manutenção do seu equipamento em dias, verificamos o consumo elétrico, superaquecimento e sub-resfriamento, mais limpeza completa.</p>
    </div>
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon2.png" alt="Ícone 5">
            <h2>Manutenção corretiva</h2>
        </div>
        <p>Seu equipamento está com defeito ou falha, não está refrigerando adequadamente, vazamento de gás, desligando ou está em pane? RESOLVEMOS SEU PROBLEMA!</p>
    </div>
    <div class="topic">
        <div class="title-icon">
            <img src="~/images/icon6.png" alt="Ícone 6">
            <h2>Plano de manutenção</h2>
        </div>
        <p>Elaboramos planos de controle de manutenção, fazemos manutenção preditiva e preventiva, periodicamente, e ficamos de prontidão para uma manutenção corretiva, um possível defeito ou falha</p>
    </div>
</div>

<div class="caixa-calc">
    <a class="button-calc" href="https://wa.me/SEUNUMEROWHATSAPP" target="_blank">Calculadora</a>
</div>

<hr class="my-5" />

<div class="banner" style="background-image: url('/images/banner4 (1).jpg');background-position: top right; background-size: cover; background-repeat: no-repeat;">
    <div class="banner-content" style="height: 100%;width: 100%;">
        <h1>Instalação de Qualidade</h1>
        <hr class="my-5" />
        <ul>
            <li>Consumo de energia adequado</li>
            <li>Maior vida útil do equipamento</li>
            <li>Conforto térmico</li>
            <li>Segurança</li>
        </ul>
    </div>
</div>

<hr class="my-5" />

<div class="row">
    <div class="col-md-6 gx-5 mb-4">
        <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
            <img src="/images/perigo.webp" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
    </div>

    <div class="col-md-6 gx-5 mb-4">
        <div class="title-icon">
            <img src="~/images/alerta.png" alt="Ícone 3">
            <h1><strong>Perigo</strong></h1>
        </div>
        <p class="text-muted">
            É obrigatório o uso de bomba de vácuo na instalação do seu equipamento, para evitar uma possível explosão, não perder a garantia do fabricante, além de garantir a eficiência térmica e energética do seu equipamento.
        </p>
    </div>
</div>

<hr class="my-5" />

<section>
    <h1 class="">Depoimentos</h1>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #a34e78;">
                    <blockquote class="blockquote pb-2">
                        <p>
                            "A EngKing têm tomado cuidado da elétrica e refrigeração da minha empresa. Eles sempre verificam se todas as instalações no prédio funcionam corretamente. Confio neles por completo."
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 font-italic">
                        José da Silva - Gerente de escritório
                    </figcaption>
                </figure>
            </div>
            <div class="col col-lg-6">
                <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #f68e9d;">
                    <blockquote class="blockquote pb-2">
                        <p>
                            "Meu ar condicionado parou de gelar, a EngKing mandou um técnico que rapidamente detectou que o gás estava baixo devido um vazamento, rapidamente ele achou o furo e fez um reparo na hora, fez a limpeza da tubulação, colocou uma bomba, depois adicionou o gás!"
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 font-italic">
                        Luiz Freitas - Personal trainer
                    </figcaption>
                </figure>
            </div>
            <div class="col col-lg-6">
                <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #f68e9d;">
                    <blockquote class="blockquote pb-2">
                        <p>
                            "Estou construindo uma casa nova e foi EngKing que instalou a fiação elétrica, iluminação e até o sistema de segurança. Verdadeiros profissionais."
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0 font-italic">
                        Joana Paes - Assistente social
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<hr class="my-5" />

<div class="banner2" style="background-image: url('/images/banner2.jpg'); ">
    <div class="banner-content">
        <h1>
            Deixe as instalações do seu ar condicionado nas mãos de profissionais
        </h1>
        <a class="button" href="https://wa.me/SEUNUMEROWHATSAPP" target="_blank">Orçamento Gratis</a>
        
    </div>
</div>

<div class="social-links">
    
    <h4>Contatos:</h4>

    <br />

    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #dd4b39; " href="#!" role="button"><i class="fab fa-google me-2"></i>felipe.alves0850@gmail.com</a>

    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #25d366; text-decoration: none;" href="#!" role="button"><i class="fab fa-whatsapp me-2"></i>(85)984094576</a>

    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram me-2"></i>s@ffelipe.alves</a>
    
</div>